@page "/{id:int?}"
@model Vaida_Sabina_Proiect.Pages.Albums.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Singer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].NumberOfSongs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].RecordLabel.RecordLabelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].AlbumCategories)
            </th
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AlbumD.Albums) {

    string selectedRow = "";
    if (item.ID == Model.AlbumID)
    {
        selectedRow = "table-success";
    }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Singer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSongs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordLabel.RecordLabelName)
            </td>
            <td>
                @{
                    foreach (var category in item.AlbumCategories)
                    {
                        @category.Category.ID @: @category.Category.CategoryName <br />
                    }
                }
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
